/*****************************************************************************************\
  _____                              _    _                      _                       
 |  __ \                            | |  | |                    | |                      
 | |__) | __ _   _ _ __  _   _ ___  | |__| | ___  _ __ ___   ___| |__  _ __ _____      __
 |  ___/ '__| | | | '_ \| | | / __| |  __  |/ _ \| '_ ` _ \ / _ \ '_ \| '__/ _ \ \ /\ / /
 | |   | |  | |_| | | | | |_| \__ \ | |  | | (_) | | | | | |  __/ |_) | | |  __/\ V  V / 
 |_|   |_|   \__,_|_| |_|\__,_|___/ |_|  |_|\___/|_| |_| |_|\___|_.__/|_|  \___| \_/\_/  
 
\*****************************************************************************************/

/***** VARIABLES *****/
:root {
  /* General font used for most text on the page */
  --general-font: "Overpass";
  
  /* Font used for information blocks, such as the {{focused}} or {{aside}} styles */
	--info-font: "Overpass";
  
  /* Font used for names of things, such as in the {{highlighted}} style */
	--name-font: "Overpass";
  
  /* Font used for text in quotes, such as the {{simplequote}} style */
  --quote-font: "BookInsanityRemake";
  
  /* Font used for the footer text in the {{pagenumber-footer}} style */
  --footer-font: "ScalySansSmallCapsRemake";
  
  /* Font used for code text, such as `code` or ```code block``` */
  --code-font: "monospace";
  
  /* The symbol to use to represent a spell of rank 0 (cantrip) */
  --spell-cantrip-symbol: "⭕";
  
  /* The symbol used to represent a level for a spell of rank 1+ */
  --spell-leveled-symbol: "⚫";
  
  /* The color to make the symbols used for spell ranks */
  --spell-rank-color: black;
  
  /* The color to use for highlighted text */
  --text-highlight-color: midnightblue;
  
  /* The background color for the page */
  --page-background-color: #FBFCF9;
  
  /* The color for the artist name text for an image */
  --artist-attribution-color: #000033;
  
  /* The color to use for larger headers (# H1, ## H2) */
  --big-header-color: #000022;
  
  /* The color to use for smaller headers (### H3, #### H4) */
  --small-header-color: #1C2D36;
  
  /* The color to use for the background of code text, such as `code` or ```code block``` */
  --code-background-color: #C9DAE4;
  
  /*
    The color to use for horizontal lines, such as the {{horizontal-rule}} style, or the line
    under an ### H3
  */
  --horizontal-line-color: #37596C;
  
  /* Theme color; used for {{note}} blocks and table rows (the "stripe" color) */
  --theme-color-1: #BCD1DD;
  
  /* Theme color; used for {{aside}} and {{focused}} blocks */
  --theme-color-2: #E4EDF1;
  
  /* Theme color; fainter than color 1 and 2, used for class table frame */
  --theme-color-3: #F5F8FA;
  
  /* Theme color; for very faint accents, such as {{listmarker-accent}} */
  --theme-color-4: #f8fafc;
}
/***** END VARIABLES *****/

.page ul {
  margin-top: 0;
  margin-bottom: 0;
}

.centered, .centered * {
  text-align: center;
}

.left-text, .left-text * {
  text-align: left;
}

.right-text, .right-text * {
  text-align: right;
}

.fullwidth, .fullwidth * {
  width: 100%;
}

.centerfull, .centerfull * {
  text-align: center;
  width: 100%;
}

.leftfull, .leftfull * {
  text-align: left;
  width: 100%;
}

.rightfull, .rightfull * {
  text-align: right;
  width: 100%;
}

.underlined, .underlined * {
  text-decoration: underline !important;
}

.bold, .bold * {
  font-weight: bold !important;
}

.italics, .italics * {
  font-style: italic !important;
}

.oblique, .oblique * {
  font-style: oblique !important;
}

.normal, .normal * {
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
}

.f-mono, .f-mono * {
  font-family: monospace !important;
}

.f-opensans, .f-opensans * {
  font-family: "OpenSans" !important;
}

.f-codebold, .f-codebold * {
  font-family: "CodeBold" !important;
}

.f-codelight, .f-codelight * {
  font-family: "CodeLight" !important
}

.f-scalysans, .f-scalysans * {
  font-family: "ScalySansRemake" !important;
}

.f-bookinsanity, .f-bookinsanity * {
  font-family: "BookInsanityRemake" !important;
}

.f-mreaves, .f-mreaves * {
  font-family: "MrEavesRemake" !important;
}

.f-pagella, .f-pagella * {
  font-family: "Pagella" !important;
}

.f-solbera, .f-solbera * {
  font-family: "SolberaImitationRemake" !important;
}

.f-scalysanssmall, .f-scalysanssmall * {
  font-family: "ScalySansSmallCapsRemake" !important;
}

.f-walterturncoat, .f-walterturncoat * {
  font-family: "WalterTurncoat" !important;
}

.f-lato, .f-lato * {
  font-family: "Lato" !important;
}

.f-courier, .f-courier * {
  font-family: "Courier" !important;
}

.f-nodesta, .f-nodesta * {
  font-family: "NodestoCapsCondensed" !important;
}

.f-overpass, .f-overpass * {
  font-family: "Overpass" !important;
}

.f-davek, .f-davek * {
  font-family: "Davek" !important;
}

.f-iokharic, .f-iokharic * {
  font-family: "Iokharic" !important;
}

.f-rellanic, .f-rellanic * {
  font-family: "Rellanic" !important;
}

.f-timesnewroman, .f-timesnewroman * {
  font-family: "Times New Roman" !important;
}


/***** GENERAL FORMATTING *****/
.horizontal-rule {
	width: 100%;
	height: 12px;
	/* border-top: 2px solid var(--HB_Color_HeaderUnderline); */
  border-top: 3px solid var(--horizontal-line-color);
}

/* Removes Drop Caps */
.page h1+p:first-letter {
	all: unset;
}


/* Removes Small-Caps in first line */
.page h1+p:first-line {
	all: unset;
}

.columnWrapper:has(.widepage) {
	columns: 1;
}

.page:has(.background-white) { background: white; }

.page:has(.monochrome-page), .monochrome, .monochrome * {
  color: transparent;
  text-shadow: 0 0 0 black;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.page:has(.monochrome-page) li::marker, .monochrome li::marker {
  color: black;
}

.page {
  background: var(--page-background-color);
}

.page table tbody tr:nth-child(odd) {
  background: var(--theme-color-1);
}

.page .block.note, .page .inline-block.note {
  background: var(--theme-color-1);
}

.simplequote p {
	font-family: var(--quote-font);
	font-size: 14px;
	font-style: italic;
	break-inside: avoid;
	display: inline-block;
	width: 100%;
}

.page .simplequote .attribution:before {
	content: "— ";
	font-weight: bold;
}

.page .simplequote .attribution {
	display: block;
	text-align: right;
	font-style: normal;
	line-height: .54cm;
}

/**** END GENERAL FORMATTING *****/

.highlighted {
	font-family: var(--name-font);
	font-weight: bold;
	color: var(--text-highlight-color);
}

/***** SYMBOLS *****/
.one-half:after {
	content: "½";
}

.one-third:after {
  content: "⅓";
}

.one-fourth:after {
  content: "¼";
}

.times:before {
	content: "× ";
}

.double:before {
	content: "×2";
}

.triple:before {
	content: "×3";
}

.quadruple:before {
	content: "×4";
}

.product:after {
	content: "⋅";
}

.divide:after {
	content: "÷";
}

.em:after {
	content: "—";
}

.en:after {
	content: "–";
}

.bar:after {
  content: "│"
}

.interrupt:before {
	content: "— ";
}

.interrupt:after {
	content: " —";
}

.arrow:after {
	content: "→";
}

.uparrow:after {
  content: "↑";
}

.rightarrow:after {
	content: "→";
}

.downarrow:after {
  content: "↓";
}

.leftarrow:after {
  content: "←"
}

.uparrow-right:after {
  content: "↗";
}

.uparrow-left:after {
  content: "↖";
}

.downarrow-right:after {
  content: "↘";
}

.downarrow-left:after {
  content: "↙";
}

.verticaldots:after {
	content: "⋮";
}

.horizontaldots:after {
  content: "⋯";
}

.diagonaldots-right:after {
  content: "⋰";
}

.diagonaldots-left:after {
  content: "⋱";
}

.ellipses:after {
	content: "…";
}

.star:after {
  content: "★";
}

.square:after {
  content: "■";
}

.circle:after {
  content: "●";
}

.opencircle:after {
  content: "○";
}

.triangle:after {
  content: "▲";
}

.triangle-right:after {
  content: "▶";
}

.triangle-down:after {
  content: "▼";
}

.triangle-left:after {
  content: "◀";
}

/***** END SYMBOLS *****/

.page::after {
  background-image: none;
}

.page-footer {
  right: 8px;
  bottom: 12px;
  position: absolute;
  font-size: .9em;
  text-align: center;
  font-family: var(--footer-font);
  font-weight: bold;
  background-color: var(--page-background-color);
  border-radius: 3px;
  padding: 0.4em;
}

.page-footer.numbered::before {
  content: counter(page-numbers) "│";
}

.page-footer.numbered::after {
  content: "\00a0";
}

.page h1, .page h2 {
  color: var(--big-header-color);
}

.page h3, .page h4 {
  color: var(--small-header-color);
}

.page h3 {
  border-bottom: 2px solid var(--horizontal-line-color);
}

.block.artist {
color: var(--artist-attribution-color);
}

.sp::after {
  content: "\00a0";
}

.sp2::after {
  content: "\00a0\00a0";
}

.sp3::after {
  content: "\00a0\00a0\00a0";
}

.sp4::after {
  content: "\00a0\00a0\00a0\00a0";
}

.sp5::after {
  content: "\00a0\00a0\00a0\00a0\00a0";
}

.sp10::after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.sp20::after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.sp45::after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}


.page code {
  color: black;
  background-color: var(--code-background-color);
  font-family: var(--code-font) !important;
  font-weight: bold;
}

.page pre code {
  color: black;
  background-color: var(--code-background-color);
  font-family: var(--code-font) !important;
  font-weight: bold;
  border-image: none;
  border-radius: 4px;
  border: none;
}

.codeblock {
  color: black;
  background-color: var(--code-background-color) !important;
  font-family: var(--code-font) !important;
  font-weight: bold;
}

.page .altcode {
  background-color: var(--theme-color-2);
	border: none;
  padding: 0px 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 0.9em;
	font-family: var(--code-font);
}

.indent-list li::marker {
  content: ''
}

.indented {
  margin-left: 15px;
  margin-top: 5px !important;
  padding-right: 10px !important;
}

.passive, .passive * {
  opacity: 0.55;
}

.page * {
  font-family: var(--general-font);
}

.page h1, .page h2, .page h3, .page h4, .page h6 {
  font-family: var(--general-font);
}

.page p {
  line-height: 20px; /* Normal line height for HB is 16px */
}

.page ul + p {
  text-indent: 0px;
}

.page ol + p {
  text-indent: 0px;
}

.page .focused {
	background-color: var(--theme-color-2);
	border: none;
	padding: 8px;
	font-family: var(--info-font);
}

.page .aside {
	background-color: var(--theme-color-2);
	border: none;
  padding: 2px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
	font-family: var(--info-font);
}

.page li {
  margin-top: 2px;
}

.spell-rank::after {
  color: transparent;
  text-shadow: 0 0 0 var(--spell-rank-color);
}

.spell-rank0::after { content: var(--spell-cantrip-symbol); }
.spell-rank1::after { content: var(--spell-leveled-symbol); }
.spell-rank2::after { content: var(--spell-leveled-symbol) var(--spell-leveled-symbol); }
.spell-rank3::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol);
}
.spell-rank4::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol); 
}
.spell-rank5::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol) var(--spell-leveled-symbol);
}
.spell-rank6::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol);
 }
.spell-rank7::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol); 
}
.spell-rank8::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol) 
            var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol) 
            var(--spell-leveled-symbol) var(--spell-leveled-symbol);
}
.spell-rank9::after {
  content:  var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol)
            var(--spell-leveled-symbol) var(--spell-leveled-symbol) var(--spell-leveled-symbol);
}

/* --- */
.plaintable td:nth-child(even) {
  background-color: transparent ;
}

.plaintable table tbody tr:nth-child(even) {
  background-color: transparent;
}

.plaintable td:nth-child(odd) {
  background-color: transparent;
}

.plaintable table tbody tr:nth-child(odd) {
  background-color: transparent;
}

.page .classTable.frame, .page .classTable.decoration::before {
  background-image: none;
  border: none;
  border-image: none;
}

.page .classTable.frame {
  background-color: var(--theme-color-3);
  padding: 8px;
}

.page .classTable table tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* CREDIT */
.page .prunus-credit { columns: 2; }
.page .prunus-credit p { text-align: center; font-size: 16px; }
.page .prunus-credit a { text-decoration: none; font-size: 14px; color: black; }
.prunus-icon { content: url(https://imgur.com/tRWD292.png); }

.page .quote .attribution::before {
  content: "——";
}

.h1, .H1 {
  color: var(--big-header-color);
  margin-bottom: .18cm;
  font-size: 0.89cm;
  line-height: 1em;
  -webkit-column-span: all;
  column-span: all;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.page .h1+*, .page .H1+* {
  margin-top: 0;
}

.h2, .H2 {
  color: var(--big-header-color);
  font-size: 0.75cm;
  line-height: 0.988em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
}

.h3, .H3 {
  border-bottom: 2px solid var(--horizontal-line-color);
  width: 100%;
  color: var(--small-header-color);
  font-size: 0.575cm;
  line-height: 0.995em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.page *+.h3, .page *+.H3 {
  margin-top: 0.155cm;
}

.page .h3+*, .page .H3+* {
  margin-top: 0.17cm;
}

.h4, .H4 {
  color: var(--small-header-color);
  font-size: 0.458cm;
  line-height: 0.971em;
  font-weight: bold;
  --TOC: exclude;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
}

.page *+.h4, .page *+.H4 {
  margin-top: 0.235cm;
}

.h5, .H5 {
  font-size: .423cm;
  line-height: .951em;
  margin-top: .09cm;
  font-weight: bold;
  font-family: "ScalySansSmallCapsRemake";
  --TOC: exclude;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
}

.h6, .H6 {
  font-weight: bold;
  line-height: 1.2em;
  --TOC: exclude;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
}

.gap-quarter, .gap-half, .gap-full, .gap-double {
  margin-bottom: -1em;
}

.gap-negative + * {
  margin-top: -1.25em;
}

.gap-zero + * {
  margin-top: -1em;
}

.gap-eighth + * {
  margin-top: -0.75em;
}

.gap-quarter + * {
  margin-top: -0.75em;
}

.gap-half + * {
  margin-top: -0.5em;
}

.gap-full + * {
  margin-top: 0em;
}

.gap-double + * {
  margin-top: 1em;
}

.decotable table {
  line-height: 2em;
  letter-spacing:.3px;
  border: 2px solid var(--small-header-color);
  border-collapse: separate;
  border-spacing: 3px;
}

.decotable table th {
  line-height: 2em;
  letter-spacing: .08em;
  font-family: 'ScalySansSmallCapsRemake';
}

.decotable table tbody tr {
  line-height: 2em;
  letter-spacing:.3px
}

.decotable table tbody tr td {
  padding: 0em .3em 0em .3em;
	margin: 0em;
	vertical-align: middle;
}

.listmarker-bar li {
  list-style-type: "❚ " !important;
}

.listmarker-diamond li {
  list-style-type: "◆ " !important;
}

.listmarker-triangle li {
  list-style-type: "▶ " !important;
}

.listmarker-arrowhead li {
  list-style-type: "➤ " !important;
}

.listmarker-arrow li {
  list-style-type: "→ " !important;
}

.listmarker-accent li {
  border-left: 2px solid var(--theme-color-1);
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0.5em;
  background-color: var(--theme-color-4);
  list-style-type: "" !important;
}

.listmarker-accent ul {
  padding-left: 0;
}

/*------------------------------ PAGE MODIFIERS ------------------------------*/
.page:has(.__PAGE__.listmarker-bar) * {
  list-style-type: "❚ " !important;
}

.page:has(.__PAGE__.listmarker-diamond) * {
  list-style-type: "◆ " !important;
}

.page:has(.__PAGE__.listmarker-triangle) * {
  list-style-type: "▶ " !important;
}

.page:has(.__PAGE__.listmarker-arrowhead) * {
  list-style-type: "➤ " !important;
}

.page:has(.__PAGE__.listmarker-arrow) * {
  list-style-type: "→ " !important;
}

.page:has(.__PAGE__.listmarker-accent) li {
  border-left: 2px solid var(--theme-color-1);
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0.5em;
  background-color: var(--theme-color-4);
  list-style-type: "" !important;
}

.page:has(.__PAGE__.listmarker-accent) ul {
  padding-left: 0;
}

.page:has(.__PAGE__.indent-list) li::marker {
  content: ''
}

.page:has(.__PAGE__.decotable) table {
  line-height: 2em;
  letter-spacing:.3px;
  border: 2px solid var(--small-header-color);
  border-collapse: separate;
  border-spacing: 3px;
}

.page:has(.__PAGE__.decotable) table th {
  line-height: 2em;
  letter-spacing: .08em;
  font-family: 'ScalySansSmallCapsRemake';
}

.page:has(.__PAGE__.decotable) table tbody tr {
  line-height: 2em;
  letter-spacing:.3px
}

.page:has(.__PAGE__.decotable) table toby tr td {
  padding: 0em .3em 0em .3em;
	margin: 0em;
	vertical-align: middle;
}

.page:has(.__PAGE__.plaintable) td:nth-child(even) {
  background-color: transparent;
}

.page:has(.__PAGE__.plaintable) table tbody tr:nth-child(even) {
  background-color: transparent;
}

.page:has(.__PAGE__.plaintable) td:nth-child(odd) {
  background-color: transparent;
}

.page:has(.__PAGE__.plaintable) table tbody tr:nth-child(odd) {
  background-color: transparent;
}

.page:has(.__PAGE__.altcode) code {
  background-color: var(--theme-color-2);
	border: none;
  padding: 0px 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 0.9em;
	font-family: var(--code-font);
}

.page:has(.__PAGE__.altcode) pre code {
  color: black;
  background-color: var(--code-background-color);
  font-family: var(--code-font) !important;
  font-weight: bold;
  border-image: none;
  border-radius: 4px;
  border: none;
}

.page:has(.__PAGE__.altcode) .codeblock {
  color: black;
  background-color: var(--code-background-color) !important;
  font-family: var(--code-font) !important;
  font-weight: bold;
}

.columnWrapper:has(.__PAGE__.wide) {
  columns: 1;
}

.page:has(.__PAGE__.bg-white) {
  background-color: white;
}

.page:has(.__PAGE__.monochrome) {
  color: transparent;
  text-shadow: 0 0 0 black;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.page:has(.__PAGE__.monochrome) li::marker {
  color: black;
}

/*****
 * PAGE PORTRAIT OR LANDSCAPE MODES
 * Allow for horizontal or vertical orientation of
 * print sizes A0-5, letter, legal, and tabloid.
 * Default size is letter.
******/
.page:has(.__PAGE__.landscape-A0){width:1188mm;height:841mm;}
.page:has(.__PAGE__.landscape-A1){width:841mm;height:594mm;}
.page:has(.__PAGE__.landscape-A2){width:594mm;height:420mm;}
.page:has(.__PAGE__.landscape-A3){width:420mm;height:297mm;}
.page:has(.__PAGE__.landscape-A4){width:297mm;height:210mm;}
.page:has(.__PAGE__.landscape-A5){width:210mm;height:148mm;}
.page:has(.__PAGE__.landscape-letter){width:11in;height:8.5in;}
.page:has(.__PAGE__.landscape-legal){width:14in;height:8.5in;}
.page:has(.__PAGE__.landscape-tabloid){width:17in;height:11in;}
.page:has(.__PAGE__.landscape){width:11in;height:8.5in;}
.page:has(.__PAGE__.portrait-A0){width:841mm;height:1188mm;}
.page:has(.__PAGE__.portrait-A1){width:594mm;height:841mm;}
.page:has(.__PAGE__.portrait-A2){width:420mm;height:594mm;}
.page:has(.__PAGE__.portrait-A3){width:297mm;height:420mm;}
.page:has(.__PAGE__.portrait-A4){width:210mm;height:297mm;}
.page:has(.__PAGE__.portrait-A5){width:148mm;height:210mm;}
.page:has(.__PAGE__.portrait-letter){width:8.5in;height:11in;}
.page:has(.__PAGE__.portrait-legal){width:8.5in;height:14in;}
.page:has(.__PAGE__.portrait-tabloid){width:11in;height:17in;}
.page:has(.__PAGE__.portrait){width:8.5in;height:11in;}

.page:has(.__PAGE__.simplequote) .quote p {
	font-size: 14px;
	font-style: italic;
	break-inside: avoid;
	display: inline-block;
	width: 100%;
  font-family: var(--quote-font);
}

.page:has(.__PAGE__.simplequote) .quote p:first-child::first-line {
  all: inherit;
}

.page:has(.__PAGE__.simplequote) .quote .attribution:before {
	content: "— ";
	font-weight: bold;
}

.page:has(.__PAGE__.simplequote) .quote .attribution {
	display: block;
	text-align: right;
	font-style: normal;
	line-height: .54cm;
  margin-top: 10px;
}

/*-------------------------------- TABLE GAPS --------------------------------*/
.tgap-row-1 table {
  border-collapse: separate;
  border-spacing: 0em 1em;
}

.tgap-row-2 table {
  border-collapse: separate;
  border-spacing: 0em 2em;
}

.tgap-row-3 table {
  border-collapse: separate;
  border-spacing: 0em 3em;
}

.tgap-row-4 table {
  border-collapse: separate;
  border-spacing: 0em 4em;
}

.tgap-row-5 table {
  border-collapse: separate;
  border-spacing: 0em 5em;
}

.tgap-row-6 table {
  border-collapse: separate;
  border-spacing: 0em 6em;
}

.tgap-row-7 table {
  border-collapse: separate;
  border-spacing: 0em 7em;
}

.tgap-row-8 table {
  border-collapse: separate;
  border-spacing: 0em 8em;
}

.tgap-row-9 table {
  border-collapse: separate;
  border-spacing: 0em 9em;
}

.tgap-row-10 table {
  border-collapse: separate;
  border-spacing: 0em 10em;
}

.tgap-row-1px table {
  border-collapse: separate;
  border-spacing: 0px 1px;
}

.tgap-row-2px table {
  border-collapse: separate;
  border-spacing: 0px 2px;
}

.tgap-row-3px table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}

.tgap-row-4px table {
  border-collapse: separate;
  border-spacing: 0px 4px;
}

.tgap-row-5px table {
  border-collapse: separate;
  border-spacing: 0px 5px;
}

.tgap-row-6px table {
  border-collapse: separate;
  border-spacing: 0px 6px;
}

.tgap-row-7px table {
  border-collapse: separate;
  border-spacing: 0px 7px;
}

.tgap-row-8px table {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.tgap-row-9px table {
  border-collapse: separate;
  border-spacing: 0px 9px;
}

.tgap-row-10px table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.tgap-row-11px table {
  border-collapse: separate;
  border-spacing: 0px 11px;
}

.tgap-row-12px table {
  border-collapse: separate;
  border-spacing: 0px 12px;
}

.tgap-row-13px table {
  border-collapse: separate;
  border-spacing: 0px 13px;
}

.tgap-row-14px table {
  border-collapse: separate;
  border-spacing: 0px 14px;
}

.tgap-row-15px table {
  border-collapse: separate;
  border-spacing: 0px 15px;
}

.tgap-row-16px table {
  border-collapse: separate;
  border-spacing: 0px 16px;
}

.tgap-row-17px table {
  border-collapse: separate;
  border-spacing: 0px 17px;
}

.tgap-row-18px table {
  border-collapse: separate;
  border-spacing: 0px 18px;
}

.tgap-row-19px table {
  border-collapse: separate;
  border-spacing: 0px 19px;
}

.tgap-row-20px table {
  border-collapse: separate;
  border-spacing: 0px 20px;
}

.tgap-row-21px table {
  border-collapse: separate;
  border-spacing: 0px 21px;
}

.tgap-row-22px table {
  border-collapse: separate;
  border-spacing: 0px 22px;
}

.tgap-row-23px table {
  border-collapse: separate;
  border-spacing: 0px 23px;
}

.tgap-row-24px table {
  border-collapse: separate;
  border-spacing: 0px 24px;
}

.tgap-row-25px table {
  border-collapse: separate;
  border-spacing: 0px 25px;
}

.tgap-row-26px table {
  border-collapse: separate;
  border-spacing: 0px 26px;
}

.tgap-row-27px table {
  border-collapse: separate;
  border-spacing: 0px 27px;
}

.tgap-row-28px table {
  border-collapse: separate;
  border-spacing: 0px 28px;
}

.tgap-row-29px table {
  border-collapse: separate;
  border-spacing: 0px 29px;
}

.tgap-row-30px table {
  border-collapse: separate;
  border-spacing: 0px 30px;
}

.tgap-col-1 table {
  border-collapse: separate;
  border-spacing: 1em 0em;
}

.tgap-col-2 table {
  border-collapse: separate;
  border-spacing: 2em 0em;
}

.tgap-col-3 table {
  border-collapse: separate;
  border-spacing: 3em 0em;
}

.tgap-col-4 table {
  border-collapse: separate;
  border-spacing: 4em 0em;
}

.tgap-col-5 table {
  border-collapse: separate;
  border-spacing: 5em 0em;
}

.tgap-col-6 table {
  border-collapse: separate;
  border-spacing: 6em 0em;
}

.tgap-col-7 table {
  border-collapse: separate;
  border-spacing: 7em 0em;
}

.tgap-col-8 table {
  border-collapse: separate;
  border-spacing: 8em 0em;
}

.tgap-col-9 table {
  border-collapse: separate;
  border-spacing: 9em 0em;
}

.tgap-col-10 table {
  border-collapse: separate;
  border-spacing: 10em 0em;
}

.tgap-col-1px table {
  border-collapse: separate;
  border-spacing: 1px 0px;
}

.tgap-col-2px table {
  border-collapse: separate;
  border-spacing: 2px 0px;
}

.tgap-col-3px table {
  border-collapse: separate;
  border-spacing: 3px 0px;
}

.tgap-col-4px table {
  border-collapse: separate;
  border-spacing: 4px 0px;
}

.tgap-col-5px table {
  border-collapse: separate;
  border-spacing: 5px 0px;
}

.tgap-col-6px table {
  border-collapse: separate;
  border-spacing: 6px 0px;
}

.tgap-col-7px table {
  border-collapse: separate;
  border-spacing: 7px 0px;
}

.tgap-col-8px table {
  border-collapse: separate;
  border-spacing: 8px 0px;
}

.tgap-col-9px table {
  border-collapse: separate;
  border-spacing: 9px 0px;
}

.tgap-col-10px table {
  border-collapse: separate;
  border-spacing: 10px 0px;
}

.tgap-col-11px table {
  border-collapse: separate;
  border-spacing: 11px 0px;
}

.tgap-col-12px table {
  border-collapse: separate;
  border-spacing: 12px 0px;
}

.tgap-col-13px table {
  border-collapse: separate;
  border-spacing: 13px 0px;
}

.tgap-col-14px table {
  border-collapse: separate;
  border-spacing: 14px 0px;
}

.tgap-col-15px table {
  border-collapse: separate;
  border-spacing: 15px 0px;
}

.tgap-col-16px table {
  border-collapse: separate;
  border-spacing: 16px 0px;
}

.tgap-col-17px table {
  border-collapse: separate;
  border-spacing: 17px 0px;
}

.tgap-col-18px table {
  border-collapse: separate;
  border-spacing: 18px 0px;
}

.tgap-col-19px table {
  border-collapse: separate;
  border-spacing: 19px 0px;
}

.tgap-col-20px table {
  border-collapse: separate;
  border-spacing: 20px 0px;
}

.tgap-col-21px table {
  border-collapse: separate;
  border-spacing: 21px 0px;
}

.tgap-col-22px table {
  border-collapse: separate;
  border-spacing: 22px 0px;
}

.tgap-col-23px table {
  border-collapse: separate;
  border-spacing: 23px 0px;
}

.tgap-col-24px table {
  border-collapse: separate;
  border-spacing: 24px 0px;
}

.tgap-col-25px table {
  border-collapse: separate;
  border-spacing: 25px 0px;
}

.tgap-col-26px table {
  border-collapse: separate;
  border-spacing: 26px 0px;
}

.tgap-col-27px table {
  border-collapse: separate;
  border-spacing: 27px 0px;
}

.tgap-col-28px table {
  border-collapse: separate;
  border-spacing: 28px 0px;
}

.tgap-col-29px table {
  border-collapse: separate;
  border-spacing: 29px 0px;
}

.tgap-col-30px table {
  border-collapse: separate;
  border-spacing: 30px 0px;
}
